[Unit]
Description=webcurl
After=network.target

[Service]
ExecStart=/home/vladimir/navcontrol/webcurl/webcurl 
WorkingDirectory=/home/vladimir/navcontrol/webcurl

Restart=always

[Install]
WantedBy=multi-user.target